$primary-color: #330072;
$secondary-color: #1f0d3f;
$border-color: #bb65ff;
$text-color: white;
$button-active-background: #f6f7fc;
$button-active-text-color: #330072; // primary
$input-background: #6429cd; //
$reveal-button: $input-background;
$header-color: $input-background;
$inner-shadow: $input-background;
$card-inactive: transparent;
$card-hover: #9d9da1;
$card-pressed: #e4a4ff;
$avatar-color: #bdbdff;

$brand-color-primary: #330072;
$brand-color-secondary: #1f0d3f;
$brand-color-tertiary: #bb65ff;

$brand-element-primary: #f6f7fc;
$brand-element-secondary: #6429cd;
$brand-element-tertiary: #9d9da1;
$brand-element-fourth: #e4a4ff;
$brand-element-quintuple: #bdbdff;

$brand-text-primary: white;
$brand-text-secondary: black;


